@use '../utils/variables' as *;
@use '../utils/mixins' as *;

#benefits {
  background-color: var(--bg-nuts-box);
}

.benefits {
  padding-top: 20px;
  padding-bottom: 20px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__list {
    @include flex-column;
    justify-content: center;
    gap: 20px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
    }

    @include desktop {
      gap: 70px;
      align-items: start;
      justify-content: center;
    }
  }

  &__list-item {
    @include flex-column;
    gap: 22px;
    width: 308px;

    @include desktop {
      width: 326px;
    }
  }

  &__svg-box {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: transparent;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);

    @include flex-center;
  }

  &__svg {
    fill: var(--fill-highlight-black);
  }

  &__text-content {
    @include flex-column;
    gap: 18px;
  }

  &__title {
    font-size: 18px;
    color: $white-clr;
  }

  &__subtitle {
    color: $white-clr-07;
  }

  &__line {
    @include desktop {
      display: block;
      border: 1px solid $white-clr-07;
      height: 150px;
      align-self: center;
    }
  }
}
