@use '../utils/mixins' as *;
@use '../utils/variables' as *;

#feedback .feedback {
  padding-top: 60px;

  .feedback-slider-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    flex-shrink: 0;
  }

  .swiper {
    overflow: hidden;
    margin-bottom: 25px;

    padding-top: 55px;
    padding-bottom: 20px;
  }

  .swiper-slide {
    box-sizing: border-box;
  }

  .swiper-slide {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    transform: scale(0.85);
    transform-origin: center;

    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide-active {
    transform: scale(1.1);
    opacity: 1;
    z-index: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 20px;

    @include tablet {
      width: 30px;
      height: 30px;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-pagination-bullet {
    background-color: var(--reversedToBgColor);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--highlight);
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;

    font-size: 1.25rem;
    letter-spacing: -0.03em;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;

    min-height: 300px;
    width: 85%;
    padding: 10px;

    background-color: var(--tutorial-box);
    color: $dark-chocolate;

    @include tablet {
      width: 60%;
      min-height: 250px;
    }

    @include desktop {
      width: 85%;
      min-height: 260px;
    }
  }

  &__list-item-image {
    width: 80px;
    border-radius: 50%;

    transform: translateY(-50%);
    z-index: 100;
  }

  &__username {
    margin-bottom: 20px;
    letter-spacing: 0.05em;

    margin-top: -15px;
  }

  &__text {
    width: 200px;
    letter-spacing: 0.04em;
    line-height: 1.8;

    @include tablet {
      width: 350px;
    }

    @include desktop {
      width: 250px;
    }
  }

  &__arrow-btn {
    background-color: transparent;
    border: none;

    color: var(--highlight);

    transition: $trans-transform;

    &:hover {
      transform: translateY(-15%);
    }

    &:active {
      color: $dark-highlight;
    }
  }
}

#leaveReviewBtn {
  width: 165px;
  height: 41px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: transparent;
  color: var(--text-color);
  line-height: 1.8;
  border: 2px solid var(--highlight);
  border-radius: 100px;

  @include flex-center;
  font-weight: 600;

  @include tablet {
    width: 222px;
    height: 50px;
    font-size: 1.125rem;
  }

  transition: $trans-all;
}

#leaveReviewBtn:hover {
  transform: translateY(-2px);
}

#leaveReviewBtn:active {
  color: $dark-highlight;
}