@use '../utils/mixins' as *;
@use '../utils/variables' as *;

#feedback .feedback {
  .feedback-slider-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    flex-shrink: 0;
  }

  .swiper {
    overflow: hidden;
    margin-bottom: 50px;

    padding-top: 55px;
    padding-bottom: 20px;
  }

  .swiper-slide {
    box-sizing: border-box;
  }

  .swiper-slide {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    transform: scale(0.85);
    transform-origin: center;

    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide-active {
    transform: scale(1.1);
    opacity: 1;
    z-index: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 20px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-pagination-bullet {
    background-color: var(--reversedToBgColor);
  }

  .swiper-pagination-bullet-active {
    background-color: $highlight;
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;

    font-size: 20px;
    letter-spacing: -0.03em;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;

    min-height: 200px;
    width: 100%;
    padding: 20px;

    background-color: var(--tutorial-box);
  }

  &__list-item-image {
    width: 80px;
    border-radius: 50%;

    transform: translateY(-50%);
    z-index: 100;
  }

  &__arrow-btn {
    background-color: transparent;
    border: none;

    color: $highlight;

    transition: $trans-transform;

    &:hover {
      transform: translateY(-15%);
    }

    &:active {
      color: $dark-highlight;
    }
  }
}
