@use '../utils/variables' as *;
@use '../utils/mixins' as *;

#footer {
  background-color: $black-clr;
  color: $white-clr;
}

.footer {
  padding-top: 32px;
  padding-bottom: 32px;

  &__top-box {
    @include tablet {
      display: flex;
      justify-content: center;
      gap: 240px;
    }
    @include desktop {
      justify-content: space-between;
      margin-bottom: 50px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 1.17;
    width: 300px;

    margin-bottom: 32px;

    @include tablet {
      font-size: 28px;
    }
  }

  &__bottom-box {
    @include tablet {
      @include flex-center;
      align-items: baseline;
      margin: 0 auto;
      gap: 32px;
      height: 45px;
      width: 704px;
    }
    @include desktop {
      margin: 0;
      width: auto;
      justify-content: space-between;
    }
  }

  &__contact-box {
    @include flex-column;
    gap: 14px;
    letter-spacing: -0.02em;
  }

  &__contacts-list {
    @include flex-column;
    gap: 4px;

    margin-bottom: 32px;
  }

  &__contacts-li {
    transition: $trans-color;
    @include desktop {
      &:hover {
        color: $light-grey;
      }
    }
  }

  &__line {
    width: 335px;

    margin: 0 auto;
    margin-bottom: 32px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.7);

    @include tablet {
      width: 704px;
    }
    @include desktop {
      width: 1408px;
      margin-bottom: 24px;
    }
  }

  &__nav-list {
    @include flex-column;
    gap: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;

    margin-bottom: 32px;
    @include tablet {
      flex-direction: row;
      gap: 16px;
    }
    @include desktop {
      gap: 40px;
    }
  }

  &__sub-box {
    display: flex;
    gap: 8px;
  }

  &__input {
    width: 207px;
    height: 45px;
    background-color: transparent;
    caret-color: $white-clr;
    border-radius: 30px;
    border-width: 1.5px;
    border-style: solid;
    padding: 14px 18px;
    outline: none;
    border-color: rgba(255, 255, 255, 0.7);
    color: $white-clr;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    @include tablet {
      width: 232px;
    }
  }

  &__sub-btn {
    background-color: $highlight;
    border: none;
    border-radius: 100px;
    color: $white-clr;
    width: 120px;
    @include flex-center;

    font-weight: 600;
    font-family: var(--font-family);

    transition: $trans-all;

    &:hover {
      background-color: $dark-highlight;
    }
    @include tablet {
      width: 128px;
      height: 45px;
    }
  }
}
