@use '../utils/variables' as *;
@use '../utils/mixins' as *;

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: transparent;
    z-index: 1000;
    margin-bottom: 32px;

    transition: $trans-all;

    &.header-scrolled {
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.1);
        mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    }
}

.nav {
    @include flex-center;
    justify-content: space-between;
    margin: 20px 0;
    height: 18px;
    
    &__logo-header {
        font-style: italic;
        letter-spacing: 0.03em;
        font-weight: 700;
    
        display: flex;
        gap: 4px;
        align-items: center;

        @media only screen and (min-width: $tablet) {
            font-size: 18px;
            line-height: 0.9;

            height: 30px;
        }
    }

    &__logo-normal {
        font-style: normal;
        @media only screen and (min-width: $tablet) {
            width: 24px;
            height: 24px;
        }
    }

    &__block {
        display: $hidden;
        
        @media only screen and (min-width: $tablet) {
            display: $visible;

            @include flex-center;
            gap: 48px;
        }

        @media only screen and (min-width: $desktop) {
            gap: 200px;
        }
    }

    #theme-toggle {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    &__slider {
        width: 50px;
        height: 26px;
        background-color: $light-grey;
        border-radius: 50px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    &__circle {
        width: 20px;
        height: 20px;
        background-color: $white-clr;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 3px;
        transition: transform 0.3s;
    }

    #theme-toggle:checked+&__slider &__circle {
        transform: translateX(24px);
    }

    #theme-toggle:checked+&__slider {
        background-color: $highlight;
    }

    &__list {
        @include flex-center;
        gap: 24px;

        @media only screen and (min-width: $desktop) {
            gap: 60px;
        }
    }

    &__list-a-item {
        position: relative;
        transition: $trans-color;

        &::after {
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: $highlight;

            position: absolute;
            bottom: -10px;
            left: 0;
            transition: $trans-transform;

            transform: scaleX(0);
            transform-origin: bottom right;
        }

        &:hover {
            color: $highlight;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left; 
        }
    }

    &__sm-list {
        @include flex-center;
        gap: 18px;
    }
    
    &__sm-icon {
        @include flex-center;

        fill: transparent;
        stroke: var(--stroke-color);

        transition: $trans-stroke;

        &:hover {
            stroke: $highlight;
        }
    }

    &__burger-btn {
        @include flex-center;
        @include btn-setting;
        width: 28px;
        height: 28px;

        @media only screen and (min-width: $tablet) {
            display: $hidden;
        }
    }

    &__burger-icon {
        stroke: var(--stroke-color);
    }   
}

