@use '../utils/variables' as *;
@use '../utils/mixins' as *;

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);;

    margin-bottom: 32px;
}

.nav {
    @include flex-center;
    justify-content: space-between;
    margin: 20px 0;
    height: 18px;
    
    &__logo-header {
        font-style: italic;
        letter-spacing: 0.03em;
        font-weight: 700;
    
        display: flex;
        gap: 4px;
        align-items: center;

        @media only screen and (min-width: $tablet) {
            font-size: 18px;
            line-height: 0.9;

            height: 30px;
        }
    }

    &__logo-normal {
        font-style: normal;
        @media only screen and (min-width: $tablet) {
            width: 24px;
            height: 24px;
        }
    }

    &__block {
        display: $hidden;
        
        @media only screen and (min-width: $tablet) {
            display: $visible;

            @include flex-center;
            gap: 48px;
        }

        @media only screen and (min-width: $desktop) {
            gap: 200px;
        }
    }

    &__list {
        @include flex-center;
        gap: 24px;

        @media only screen and (min-width: $desktop) {
            gap: 60px;
        }
    }

    &__list-a-item {
        position: relative;
        transition: $trans-color;

        &::after {
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: $highlight;

            position: absolute;
            bottom: -10px;
            left: 0;
            transition: $trans-transform;

            transform: scaleX(0);
            transform-origin: bottom right;
        }

        &:hover {
            color: $highlight;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left; 
        }
    }

    &__sm-list {
        @include flex-center;
        gap: 18px;
    }
    
    &__sm-icon {
        @include flex-center;

        fill: transparent;
        stroke: $black-clr;

        transition: $trans-stroke;

        &:hover {
            stroke: $highlight;
        }
    }

    &__burger-btn {
        @include flex-center;
        @include btn-setting;
        width: 28px;
        height: 28px;

        @media only screen and (min-width: $tablet) {
            display: $hidden;
        }
    }

    &__burger-icon {
        stroke: $black-clr;
    }   
}

