@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.mm {
    display: $hidden;

    &__close-btn {
        @include flex-center;
        @include btn-setting;
    }

    &__close-icon {
        fill: $white-clr;
        stroke: $black-clr;
    }

    &__block {
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__sm-list {
        @include flex-center;
        justify-content: flex-start;

        fill: $black-clr;
        stroke: $white-clr;
    }
}
