@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.mm {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: $trans-all;

  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 1000;
  }

  &__container {
    @include flex-column-center;
    position: relative;

    height: 100%;
  }

  &__close-btn {
    @include flex-center;
    @include btn-setting;

    position: absolute;
    top: 14px;
    right: 14px;

    padding: 10px;

    @include tablet {
      top: 12px;
      right: 13px;
    }

    &:hover {
      .mm__close-icon {
        stroke: $highlight;
      }
    }
  }

  &__close-icon {
    stroke: var(--stroke-color);

    transition: $trans-stroke;

    @include tablet {
      width: 16px;
      height: 16px;
    }
  }

  &__block {
    flex-grow: 1;
    @include flex-column;
  }

  &__list {
    @include flex-column;
    gap: 48px;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
  }

  &__list-a-item {
    font-weight: 600;
    font-size: 16px;

    position: relative;
    transition: $trans-color;

    @include tablet {
      font-size: 18px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: $highlight;

      position: absolute;
      bottom: -10px;
      left: 0;
      transition: $trans-transform;

      transform: scaleX(0);
      transform-origin: bottom right;
    }

    &:hover {
      color: $highlight;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &__sm-list {
    @include flex-center;
    justify-content: flex-start;
    gap: 30px;

    fill: var(--fill-color);
    stroke: var(--stroke-color);

    a {
      transition: $trans-stroke;
    }

    a:hover {
      stroke: $highlight;
    }
  }

  &__sm-icon {
    @include tablet {
      width: 30px;
      height: 30px;
    }
  }

  &__bottom {
    @include flex-center;
    gap: 50px;
    margin-top: auto;
    margin-bottom: 38px;

    @include tablet {
      gap: 100px;
    }
  }

  &__toggle-theme-box {
    @include flex-center;
    gap: 6px;
    @include tablet {
        gap: 10px;
    }

    svg {
      stroke: var(--stroke-color);
      fill: var(--stroke-color);

      transition: $trans-stroke;

    @include tablet {
        width: 20px;
        height: 20px;
    }
    }
  }

  #theme-toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  &__slider {
    width: 46px;
    height: 22px;
    background-color: $light-grey;
    border-radius: 11px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;

    @include tablet {
        width: 56px;
        height: 32px;
        border-radius: 16px;
    }
  }

  &__circle {
    width: 16px;
    height: 16px;
    background-color: $white-clr;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;

    @include tablet {
        width: 24px; 
        height: 24px;
        top: 4px; 
        left: 4px;
    }
  }

  #theme-toggle:checked + &__slider &__circle {
    transform: translateX(24px);
  }

  #theme-toggle:checked + &__slider {
    background-color: $highlight;
  }
  @include desktop {
    display: $hidden;
  }
}
