$highlight: #FD9222;
$white-clr: #fff;
$black-clr: #111;

$hidden: none;
$visible: block;

$tablet: 768px;
$desktop: 1440px;

$trans-transform: transform 0.5s ease-out;
$trans-color: color 0.5s ease-out;