$highlight: #FD9222;
$white-clr: #fff;
$black-clr: #111;

$hidden: none;
$visible: block;

$tablet: 768px;
$desktop: 1440px;

$trans-time: 0.3s;
$trans-way: ease-in-out;

$trans-transform: transform $trans-time $trans-way;
$trans-color: color $trans-time $trans-way;
$trans-stroke: stroke $trans-time $trans-way;
$trans-all: all $trans-time $trans-way;