@use '../utils/variables' as *;

:root {
  --font-family: 'Montserrat', sans-serif;
  --bg-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  --color: #111111;
}

[data-theme="dark"] {
  --bg-color: #111111;
  --text-color: #fff;
}

body {
  font-family: var(--font-family);
  color: var(--color);
  background-color: var(--bg-color);
}

.hidden {
  display: $hidden;
}