$tablet: 768px;
$desktop: 1440px;

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;

  @media only screen and (min-width: $tablet) {
    max-width: 768px;
  }

  @media only screen and (min-width: $desktop) {
    max-width: 1440px;
  }
}

