<section id="feedback">
  <div class="container feedback">
    <h2 class="feedback__title">
      <span class="highlight">Chocolate</span> is loved
    </h2>
    <div class="feedback-slider-container">
      <button type="button" class="swiper-button-prev feedback__arrow-btn">
        <svg class="feedback__arrow" width="20" height="20">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <div class="swiper">
        <div class="swiper-wrapper feedback__list"></div>

        <div class="swiper-pagination"></div>

        <div class="swiper-scrollbar"></div>
      </div>
      <button type="button" class="swiper-button-next feedback__arrow-btn">
        <svg class="feedback__arrow" width="20" height="20">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
