<section id="header">
    <div class="container header-container">
        <nav class="nav">

            <a href="/src/index.html" class="nav__logo-header"><p>SIMPLY <span class="nav__logo-normal">CHOCOLATE</span></p>
            <svg class="icon nav__icon-logo" width="21" height="21"><use href="/img/sprite.svg#icon-logo"></use></svg>
            </a>

            <div class="nav__block">
                <ul class="nav__list">
                    <li><a href="">Home</a></li>
                    <li><a href="">How it's made?</a></li>
                    <li><a href="">Chocolate is loved</a></li>
                </ul>
                <ul class="nav__sm-list">
                    <li><a href="https://www.instagram.com/" target="_blank">
                        <svg class="nav__sm-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a></li>
                    <li><a href="https://x.com/" target="_blank" class="nav__sm-icon">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a></li>
                </ul>
            </div>

            <button type="button" class="nav__burger-btn">
                <svg class="nav__burger-icon" width="21" height="18"><use href="/img/sprite.svg#icon-burger"></use></svg>
            </button>
        </nav>
    </div>
</section>