<div class="mm" data-menu>
    <div class="container mm__container">
        <button type="button" class="mm__close-btn" data-menu-close>
            <svg class="mm__close-icon" width="12" height="12">
                <use href="/img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        
        <div class="mm__block">
            <ul class="mm__list">
                <li><a href="" class="mm__list-a-item">Home</a></li>
                <li><a href="" class="mm__list-a-item">How it's made?</a></li>
                <li><a href="" class="mm__list-a-item">Chocolate is loved</a></li>
            </ul>
            <div class="mm__bottom">
                <ul class="mm__sm-list">
                    <li><a href="https://www.instagram.com/" target="_blank">
                            <svg class="mm__sm-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li><a href="https://x.com/" target="_blank" class="mm__sm-icon">
                            <svg width="24" height="24">
                                <use href="/img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="mm__toggle-theme-box">
                    <svg width="16" height="16">
                        <use href="/img/sprite.svg#icon-sun"></use>
                    </svg>
                    <label class="mm__theme-switch" for="theme-toggle">
                        <input type="checkbox" id="theme-toggle" role="switch" class="theme-toggle-input">
                
                        <div class="mm__slider">
                            <span class="mm__circle"></span>
                        </div>
                    </label>
                    <svg width="16" height="16">
                        <use href="/img/sprite.svg#icon-moon"></use>
                    </svg>
                    <label class="nav__theme-switch" for="theme-toggle">
                </div>
            </div>
        </div>
    </div>    
</div>