<section id="products">
  <div class="container products">
    <h2 class="products__title">
      It all adds up to one <br> exceptional
      <span class="highlight">taste</span> sensation
    </h2>
    <p class="products__subtitle">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="products__list">
      <li class="products__list-item">
        <img
          src="/img/products/pieces-of-chocolate@2x.png"
          alt="pieces of milk chocolate"
          class="products__img"
        />
        <p class="products__product-name">MILK CHOCOLATE</p>
      </li>
      <li class="products__list-item">
        <img
          src="/img/products/milk-bottle@2x.png"
          alt="milk bottle"
          class="products__img"
        />
        <p class="products__product-name">MILK</p>
      </li>
      <li class="products__list-item">
        <img src="/img/products/nuts@2x.png" 
        alt="nuts" 
        class="products__img" 
        />
        <p class="products__product-name">NUTS</p>
      </li>
      <li class="products__list-item">
        <img
          src="/img/products/beans@2x.png"
          alt="cacao beans"
          class="products__img"
        />
        <p class="products__product-name">SEMI-SWEET CHOCOLATE</p>
      </li>
    </ul>
  </div>
</section>
