<section id="products">
  <div class="container products">
    <h2 class="products__title">
      It all adds up to one <br />
      exceptional <span class="highlight">taste</span> sensation
    </h2>
    <p class="products__subtitle">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="products__list">
      <li class="products__list-item">
        <div class="products__img-overlay">
          <img
            src="/img/products/pieces-of-chocolate@2x.webp"
            alt="pieces of milk chocolate"
            class="products__img"
            loading="lazy"
          />
          <p class="products__product-name">MILK CHOCOLATE</p>
          <div class="products__overlay">
            <h3 class="products__overlay-title">Milk chocolate</h3>
            <ul class="products__overlay-btn-list">
              <li class="products__overlay-li">
                <p class="products__overlay-btn">chocolate</p>
              </li>
              <li class="products__overlay-li">
                <p class="products__overlay-btn">the benefits</p>
              </li>
            </ul>
            <p class="products__overlay-text">
              Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of
              chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of
              all
              milk chocolate is sold in the United States and Europe.
            </p>
          </div>
        </div>
        
      </li>
      <li class="products__list-item">
        <div class="products__img-overlay">
          <img
            src="/img/products/milk-bottle@2x.webp"
            alt="milk bottle"
            class="products__img"
            loading="lazy"
          />
          <p class="products__product-name">MILK</p>
          <div class="products__overlay">
            <h3 class="products__overlay-title">Milk</h3>
            <ul class="products__overlay-btn-list">
              <li class="products__overlay-li">
                <p class="products__overlay-btn">milk</p>
              </li>
              <li class="products__overlay-li">
                <p class="products__overlay-btn">the benefits</p>
              </li>
            </ul>
            <p class="products__overlay-text">
              Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for
              young
              mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is
              called colostrum, contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
        
      </li>
      <li class="products__list-item">
        <div class="products__img-overlay">
          <img
            src="/img/products/nuts@2x.webp"
            alt="nuts"
            class="products__img"
            loading="lazy"
          />
          <p class="products__product-name">NUTS</p>
          <div class="products__overlay">
            <h3 class="products__overlay-title">Nuts</h3>
            <ul class="products__overlay-btn-list">
              <li class="products__overlay-li">
                <p class="products__overlay-btn">nuts</p>
              </li>
              <li class="products__overlay-li">
                <p class="products__overlay-btn">the benefits</p>
              </li>
            </ul>
            <p class="products__overlay-text">
              Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a
              nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good
              source
              of fiber, healthy fats, and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
        
      </li>
      <li class="products__list-item">
        <div class="products__img-overlay">
          <img
            src="/img/products/beans@2x.webp"
            alt="cacao beans"
            class="products__img"
            loading="lazy"
          />
          <p class="products__product-name">SEMI - SWEET CHOCOLATE</p>
          <div class="products__overlay">
            <h3 class="products__overlay-title">Semi - sweet chocolate</h3>
            <ul class="products__overlay-btn-list">
              <li class="products__overlay-li"><p class="products__overlay-btn">sweet chocolate</p></li>
              <li class="products__overlay-li"><p class="products__overlay-btn">the benefits</p></li>
            </ul>
            <p class="products__overlay-text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type
              of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste
              comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
