<section id="tutotial">
    <div class="container tutorial">
        <h2 class="tutorial__title">How it’s <span class="highlight">made?</span></h2>
        <div class="tutorial__main-video">
            <video id="chocolate-bg" muted loop playsinline>
                <source src="../vids/tutorial3.mp4" type="video/mp4">
                Ваш браузер не підтримує відео.
            </video>
        </div>
        <h3 class="tutorial__list-title">Try our chocolates today and discover the perfect balance of flavor</h3>
        <ul class="tutorial__list">
            <li class="tutorial__list-item">
                <p class="tutorial__list-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</p>
            </li>
            <li class="tutorial__list-item">
                <p class="tutorial__list-text">At the same time, prepare a water bath. Melt the butter on it.</p>
            </li>
            <li class="tutorial__list-item">
                <p class="tutorial__list-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes
                uniform and silky.</p>
            </li>
            <li class="tutorial__list-item">
                <p class="tutorial__list-text">Heat the mixture over low heat, letting it barely boil.</p>
            </li>
            <li class="tutorial__list-item">
                <p class="tutorial__list-text">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</p>
            </li>
        </ul>
    </div>
</section>